[package]
name = "cargo-packager"
version = "0.0.0"
description = "Rust executable packager and bundler."
edition = "2021"
license = "Apache-2.0 OR MIT"


[features]
default = ["cli"]
cli = ["env_logger", "clap"]

[build-dependencies]
cargo-packager-config.workspace = true
serde_json.workspace = true
schemars.workspace = true

[dependencies]
cargo-packager-config.workspace = true
thiserror.workspace = true
log = { version = "0.4", features = ["kv_unstable", "kv_unstable_std"] }
serde.workspace = true
serde_json.workspace = true
dunce.workspace = true
cargo_metadata = "0.17"
env_logger = { version = "0.9", optional = true }
clap = { version = "4.0", features = ["derive"], optional = true }
dirs = "5.0"
ureq = "2.7"
hex = "0.4"
semver = "1"
sha1 = "0.10"
sha2 = "0.10"
zip = { version = "0.6", default-features = false, features = ["deflate"] }
handlebars = "4.3"
glob = "0.3"
relative-path = "1.9"

[target."cfg(target_os = \"windows\")".dependencies]
winreg = "0.51"
once_cell = "1.18"

[target."cfg(target_os = \"windows\")".dependencies.windows-sys]
version = "0.48"
features = ["Win32_System_SystemInformation", "Win32_System_Diagnostics_Debug"]
