name: Package examples

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/build-examples.yml"
      - "crates/**"
      - "examples/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package:
    if: ${{ !startsWith(github.head_ref, 'renovate/') }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4
      - name: install webkit2gtk
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y webkit2gtk-4.1 webkit2gtk-4.0 libayatana-appindicator3-dev libxdo-dev
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - uses: denoland/setup-deno@v1
      - uses: Swatinem/rust-cache@v2
      - run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
      - run: cargo install cargo-binstall --locked
      - run: cargo binstall tauri-cli
      - run: cargo binstall dioxus-cli
      - run: cargo r --package cargo-packager -- signer generate --password '123' --path ./signing-key -vvv
      - run: cargo r --package cargo-packager -- --release --private-key ./signing-key --password '123' --formats all -vvv
